<app-header></app-header>
<div class="container">
    <div class="inner-container">
        <div class="options">
            <div class="file-upload">
                <h3>Ajouter un produit</h3>
                <input type="file"  name="file" multiple="" class="file-input" (change)="onFileSelected($event)" #productUpload>
                <img [src]="firstImage" height="500px" width="500px"><br>
                {{ fileName || "Photo de profil"}}
                <button class="upload-btn" (click)="productUpload.click()"><mat-icon >Choisir un fichier</mat-icon></button>
            </div>
        </div>
        <form class="register-form-style" [formGroup]="addProductForm"  (ngSubmit)="submit()">
            <div class="client-register">
                
            <text-input
            [control]="fc.productName"
            [showErrorsWhen]="isSubmitted"
            label="Nom du produit">
            </text-input>
            <app-textarea
            [control]="fc.productDescription"
            [showErrorsWhen]="isSubmitted"
            label="Description">
            </app-textarea>
            <!-- <text-input
            [control]="fc.productPrice"
            [showErrorsWhen]="isSubmitted"
            label="Prix unitaire">
            </text-input> -->
            <!-- <text-input
            [control]="fc.productCategory"
            [showErrorsWhen]="isSubmitted"
            label="Catégorie">
            </text-input> -->
            <div class="row">
                    <text-input
            [control]="fc.productPoids"
            [showErrorsWhen]="isSubmitted"
            label="Poids">
            </text-input> 
            <text-input
            [control]="fc.productVolume"
            [showErrorsWhen]="isSubmitted"
            label="Volume">
            </text-input>
                </div>
                <div class="row">
                    <text-input
            [control]="fc.productLargeur"
            [showErrorsWhen]="isSubmitted"
            label="Largeur">
            </text-input>
            <text-input
            [control]="fc.productLongueur"
            [showErrorsWhen]="isSubmitted"
            label="Longueur">
            </text-input>
                </div>
            
            <text-input
            [control]="fc.productHauteur"
            [showErrorsWhen]="isSubmitted"
            label="Hauteur">
            </text-input>  
             
            </div>
            <div class="buttonContainer">
                <app-default-button text="Annuler" routerLink="/user-products" type="button"></app-default-button>
                <app-default-button text="Valider" routerLink="/user-products" type="submit"></app-default-button>
            </div>
        </form>        
    </div>
</div>
