<app-header></app-header>
<div class="container">
    <h3>Inscription</h3>
    <div class="inner-container">
        <div class="left-side">

            <div class="client-register">
                <!-- <div class="row">
                    <app-radio-input (onchange)="toggleSellerForm()"
                    [control]="fc.userType"
                    [showErrorsWhen]="isSubmitted"
                    ></app-radio-input>
                </div> -->
                <div class="row">
                    Je suis une entreprise
                    <mat-checkbox
                    [checked]="showSellerForm()"
                    (change)="toggleSellerForm()">
                    </mat-checkbox>
                </div>
            </div>
            <form *ngIf="!showSellerForm().valueOf()" class="register-form-style" [formGroup]="registerForm"  (ngSubmit)="submitUser()">
                <div class="wrapper">
                    <div class="client-register">
                        <!-- Champ photo de profil-->
                        <div class="file-upload">
                            <!-- <ngx-avatars *ngIf="!image" size="100" src="default.jpg"></ngx-avatars> -->
                            {{ fileName || "Photo de profil"}}
                            <button class="upload-btn" (click)="pdpUpload.click()" type="button">
                                <mat-icon >attach_file</mat-icon>
                            </button>
                            <button class="upload-btn no-background" (click)="pdpUpload.click()" type="button">
                                <ngx-avatars size="100" [src]="image">
                                </ngx-avatars>
                            </button>
                            <!-- <mat-progress-bar *ngIf="!fileName" mode="indeterminate"></mat-progress-bar> -->
                            <h5>Upload 10MB maximum</h5>
                        </div>                
                    <!-- Champ cachés pour la mise en ligne des images-->
                    <input type="file" class="file-input" (change)="onFileImageSelected($event)" #pdpUpload>
                    <input type="file" class="file-input" (change)="onFileDocumentRectoSelected($event)" #documentRectoUpload>
                    <input type="file" class="file-input" (change)="onFileDocumentVersoSelected($event)" #documentVersoUpload>
                    <div class="row">
                        <!-- Champ Nom-->
                        <text-input
                            [control]="fc.userName"
                            [showErrorsWhen]="isSubmitted"
                            label="Nom">
                        </text-input>
                        <!-- Champ prénoms-->
                        <text-input
                            [control]="fc.userFirstname"
                            [showErrorsWhen]="isSubmitted"
                            label="Prénom">
                        </text-input>
                    </div>
                    <div class="row">
                        <!-- Champ email-->
                        <text-input
                            [control]="fc.userEmail"
                            [showErrorsWhen]="isSubmitted"
                            label="Email"
                            [type]="'email'">
                        </text-input>
                        
                        <!-- <text-input
                            [control]="fc.userPhone"
                            [showErrorsWhen]="isSubmitted"
                            label="Téléphone">
                        </text-input> -->
                        <!-- Champ téléphone-->    
                        <mat-form-field appearance="outline">
                                <ngx-intl-tel-input
                                formControlName="userPhone"
                                name ="userPhone"
                                [separateDialCode]="true"
                                [cssClass]="'custom'"
                                [preferredCountries]="['mg']"
                                [enablePlaceholder]="true"
                                [searchCountryFlag]="true"
                                [selectFirstCountry]="true"
                                [maxLength]="15"
                                [phoneValidation]="true"
                                #phone>
                                <input matInput [formControl]="userPhone">
                                </ngx-intl-tel-input>              
                            </mat-form-field>                   
                    </div> 
                    <div class="row">
                        <!-- Champ mot de passe-->
                        <app-password-input
                            [control]="fc.userPassword"
                            [showErrorsWhen]="isSubmitted"
                            label="Mot de passe">
                        </app-password-input>
                        <!-- Champ confirmation mot de passe -->
                        <app-password-input
                            [control]="fc.confirmPassword"
                            [showErrorsWhen]="isSubmitted"
                            label="Confirmation mot de passe">
                        </app-password-input>
                    </div>
                    <!-- <text-input
                    [control]="fc.refId"
                    [showErrorsWhen]="isSubmitted"
                    label="Referral">
                    </text-input>        -->
                    <div class="row">
                        <!-- <mat-form-field appearance="outline" >
                            <mat-label>Date de naissance</mat-label>
                            <input matInput #dateInput [matDatepicker]="picker" [formControl]="dateOfBirth" (onfocus)="dateInput.type ='date'" (blur)="dateInput.type ='text'"> 
                            <mat-datepicker-toggle [for]="picker" style="position: absolute;margin-top:-8px;margin-left: -10px;"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field> -->
                        <!-- Champ Date de naissance -->
                        <date-input
                            [control]="dateOfBirth"
                            [showErrorsWhen]="isSubmitted"
                            label="Date de naissance">
                        </date-input>
                        <!-- <text-input
                            [control]="jour"
                            [showErrorsWhen]="isSubmitted"
                            label="Jour">
                        </text-input>
                        <text-input
                            [control]="mois"
                            [showErrorsWhen]="isSubmitted"
                            label="Mois">
                        </text-input>
                        <text-input
                            [control]="annee"
                            [showErrorsWhen]="isSubmitted"
                            label="Année">
                        </text-input> -->
                        <!-- Champ Adresse -->
                        <text-input 
                            [control]="fc.userAddress"
                            [showErrorsWhen]="isSubmitted"
                            label="Adresse">
                        </text-input>
                    </div>
                    <div class="row">
                        Veuillez nous fournir un document d'identification :
                    </div>
                    <div class="row">
                        <div class="options">
                        <!-- Champ document d'identification -->
                        <mat-form-field appearance="outline">
                            <mat-label>Document d'identification</mat-label>
                            <mat-select matNativeControl [(value)]="documentType" >
                                <mat-option value="cin" selected>CIN</mat-option>
                                <mat-option value="passeport">Passeport</mat-option>
                                <mat-option value="permis">Permis de conduire</mat-option>
                            </mat-select>
                        </mat-form-field>                        
                        </div>
                        <!-- Champ numéro du document d'identification-->
                        <text-input
                            [control]="fc.identityCardNumber"
                            [showErrorsWhen]="isSubmitted"
                            label="Numéro du Document">
                        </text-input>
                    </div>
                    <!-- Champ pour la mise en ligne des images du document d'identification-->
                    <div class="file-upload">
                        <p *ngIf="documentType && !identityDocument"> Photo de votre : </p>
                        Photos du document (.png,.jpg,.jepg):
                        <div class="idDocumentUpload" *ngIf="documentType">
                            <div class="recto">
                                {{ identityDocumentName1}} <p *ngIf="!identityDocumentName1">Recto *
                                    <button (click)="documentVersoUpload.click()" type="button"><mat-icon >attach_file</mat-icon></button>
                                </p>
                                <button class="upload-btn" (click)="documentRectoUpload.click()" type="button">
                                <img height="100px" *ngIf="identityDocument[0]" [src]="identityDocument[0]" alt="">
                                </button>
                                <mat-progress-bar *ngIf="!identityDocument[0]" mode="indeterminate"></mat-progress-bar>
                                <h5>Upload 10MB maximum</h5>
                            </div>
                            <div class="verso">
                                {{ identityDocumentName2}} <p *ngIf="!identityDocumentName2">Verso *  
                                    <button (click)="documentVersoUpload.click()" type="button"><mat-icon >attach_file</mat-icon></button>
                                </p>
                                <button class="upload-btn" (click)="documentVersoUpload.click()" type="button">
                                    <img height="100px" *ngIf="identityDocument[1]" [src]="identityDocument[1]" alt="">
                                </button>
                                <mat-progress-bar *ngIf="!identityDocument[1]" mode="indeterminate"></mat-progress-bar>
                                <h5>Upload 10MB maximum</h5>
                            </div>
                        </div>
                    </div>    
                    </div>
                </div>
            </form>
            <!-- Formulaire pour les entreprise-->
            <form *ngIf="showSellerForm()" class="register-form-style" [formGroup]="registerCorporateForm"  (ngSubmit)="submitUser()">
                <div class="wrapper">
                    <div class="client-register">
                        <div class="file-upload">
                            {{ fileName || "Logo"}}
                            <button class="upload-btn" (click)="logoUpload.click()" type="button">
                                <mat-icon >attach_file</mat-icon>
                            </button>
                            <button class="upload-btn no-background" (click)="logoUpload.click()" type="button">
                                <ngx-avatars  size="100" [src]="corporateLogo"></ngx-avatars>
                            </button>
                            <input type="file" class="file-input" (change)="onFileLogoSelected($event)" #logoUpload>
                            <h5>Upload 10MB maximum</h5>
                        </div>  
                        <div class="row">
                            <!-- Champ raison social -->
                            <text-input
                                [control]="cfc.raisonSocial"
                                [showErrorsWhen]="isSubmitted"
                                label="Raison Sociale">
                            </text-input>
                            <div class="options">
                                <!-- Champ forme de l'entreprise -->
                            <mat-form-field appearance="outline">
                                <mat-label>Forme juridique</mat-label>
                                <mat-select matNativeControl [(value)]="type" >
                                    <mat-option value="sarl" selected>SARL</mat-option>
                                    <mat-option value="sarlu">SARLU</mat-option>
                                    <mat-option value="individuel">INDIVIDUEL</mat-option>
                                    <mat-option value="sa">SA</mat-option>
                                </mat-select>
                            </mat-form-field>                        
                            </div>
                        </div>
                        <div class="row">
                            <text-input
                                [control]="cfc.nif"
                                [showErrorsWhen]="isSubmitted"
                                label="NIF">
                            </text-input>
                            <text-input
                                [control]="cfc.rcs"
                                [showErrorsWhen]="isSubmitted"
                                label="RCS">
                            </text-input>
                        </div>
                        <div class="row">
                            <text-input
                                [control]="cfc.managerName"
                                [showErrorsWhen]="isSubmitted"
                                label="Gérant">
                            </text-input>
                            <text-input
                                [control]="cfc.managerEmail"
                                [showErrorsWhen]="isSubmitted"
                                label="Email du gérant"
                                [type]="'email'">
                            </text-input>
                        </div>
                        <div class="row">
                            <text-input
                                [control]="cfc.contactName"
                                [showErrorsWhen]="isSubmitted"
                                label="Nom du représentant">
                            </text-input>
                            <text-input
                                [control]="cfc.contactEmail"
                                [showErrorsWhen]="isSubmitted"
                                label="Email du représentant"
                                [type]="'email'">
                            </text-input>
                        </div>
                        <div class="row">       
                            <mat-form-field appearance="outline">
                                <ngx-intl-tel-input
                                formControlName="contactPhone"
                                name ="corporateUserPhone"
                                [separateDialCode]="true"
                                [cssClass]="'custom'"
                                [preferredCountries]="['mg']"
                                [enablePlaceholder]="true"
                                [searchCountryFlag]="true"
                                [selectFirstCountry]="true"
                                [maxLength]="15"
                                [phoneValidation]="true"
                                #phone>
                                <input matInput [formControl]="contactPhone">
                            </ngx-intl-tel-input>              
                        </mat-form-field>
                        <!-- Champ adresse du siège -->
                        <text-input
                            [control]="cfc.siegeAddress"
                            [showErrorsWhen]="isSubmitted"
                            label="Siège">
                        </text-input>
                        </div>
                        <div class="row">
                            <!-- Champ mot de passe -->
                            <app-password-input
                                [control]="cfc.userPassword"
                                [showErrorsWhen]="isSubmitted"
                                label="Mot de passe">
                            </app-password-input>
                            <!-- Champ confirmation mot de passe -->
                            <app-password-input
                                [control]="cfc.confirmPassword"
                                [showErrorsWhen]="isSubmitted"
                                label="Confirmation mot de passe">
                            </app-password-input>
                        </div> 
                        <!-- <div class="row">
                            <div class="buttonContainer">
                                <div>
                                    <button type="submit" (click)="submitUser()">S'INSCRIRE</button> -->
                                    <!-- <app-default-button text="S'inscrire" type="submit" (onClick)="submitCorporateUser()"></app-default-button> -->
                                <!-- </div>
                                <a routerLink="/login"><p style="text-align: center;">J'ai déjà un compte</p></a> -->
                            <!-- </div>
                        </div> -->
                    </div>
                </div>
            </form>
        </div>
        <div class="rightSide">
            <div *ngIf="showSellerForm()">
            Photo de votre carte fiscale:
                <div class="idDocumentUpload">
                    <div class="recto">
                        Recto* :
                        <button class="upload-btn" (click)="carteFiscalRectoUpload.click()" type="button">
                            <!-- <mat-icon >attach_file</mat-icon> -->
                            <input type="file" class="file-input" (change)="onCarteFiscalRectoSelected($event)" #carteFiscalRectoUpload>
                            <img [src]="this.carteFiscale[0]" height="100"/>
                        </button>
                        <h5>Upload 10MB maximum</h5>
                    </div>
                    <div class="verso">
                        Verso* :
                        <button class="upload-btn" (click)="carteFiscalVersoUpload.click()" type="button">
                            <!-- <mat-icon >attach_file</mat-icon> -->
                            <input type="file" class="file-input" (change)="onCarteFiscalVersoSelected($event)" #carteFiscalVersoUpload>
                            <img [src]="this.carteFiscale[1]" height="100"/>
                        </button>
                        <h5>Upload 10MB maximum</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                    <p>Veuillez renseigner vos coordonnée géographique :</p>
            </div>   
            <div class="row">
            <input-container>
                <mat-form-field appearance="outline">
                    <mat-label>Latitude</mat-label>
                    <input matInput type="text" [(ngModel)]="latitude" [ngModelOptions]="{standalone:true}">
                </mat-form-field>
            </input-container>
            <input-container>
                <mat-form-field appearance="outline">
                    <mat-label>Longitude</mat-label>
                    <input matInput type="text" [(ngModel)]="longitude" [ngModelOptions]="{standalone:true}">
                </mat-form-field>
            </input-container>
        </div>
            <google-map height="50vh"
                width="50vh"
                [center]="center"
                [zoom]="6"
                (mapClick)="moveMap($event)"
                >
                <!-- (mapMousemove)="move($event)"  -->
                <!-- *ngFor="let position of markerLatLong" -->
            <map-marker 
            [position]="position"></map-marker>
        </google-map>

        <div class="row">
            <div class="buttonContainer">
                <div>
                    <button type="submit" (click)="submitUser()">S'INSCRIRE</button>
                    <!-- <app-default-button text="S'inscrire" type="submit" (onClick)="submitUser()"></app-default-button> -->
                </div>
                <a routerLink="/login"><p style="text-align: center;">J'ai déjà un compte</p></a>
            </div>
        </div>
        </div>
    </div>
    
</div>