h3{
    margin-bottom: 5%;
}
.form-line{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.file-input{
    display: none;
}
.client-register{
    width: 40%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.rightSide{
    width: 40%;
}
.row{
    display: flex;
}
/* .seller{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    align-content: center;
} */
.register-form-style{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-evenly;
    margin: auto 10%;
}
.buttonContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
}
.options{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
mat-checkbox{
    margin : auto 0;
}
.mat-mdc-form-field-icon-suffix, [dir=rtl] .mat-mdc-form-field-icon-prefix {
    padding: 0px 22px 13px 0px !important;
}
/* mat-datepicker-toggle{
    margin: 0 -19px -10px 0;
} */
.seller-file{
    width: 100%;
 }
 