<div class="container">
    <div class="inner-container">
        <h1>Inscription</h1>
        <input type="file" class="file-input" (change)="onFileSelected($event)" #pdpUpload>
        <input type="file" class="file-input" (change)="onFileSelected($event)" #logoUpload>
        <div class="options">
            <!-- <div class="file-upload">
                {{ fileName || "Photo de profil"}}
                <button class="upload-btn" (click)="pdpUpload.click()"><mat-icon >attach_file</mat-icon></button>
            </div> -->
        </div>
        <form class="register-form-style" [formGroup]="registerForm"  (ngSubmit)="submit()">
            <div class="client-register">
                <div class="radio-gender">
                    <mat-radio-group [formControl]="userType">
                      <mat-radio-button value="particulier">Particulier</mat-radio-button>
                      <mat-radio-button value="entreprise">Entreprise</mat-radio-button>
                    </mat-radio-group>
                </div>
                <text-input
                    [control]="fc.userName"
                    [showErrorsWhen]="isSubmitted"
                    label="Nom">
                </text-input>
                <text-input
                    [control]="fc.userFirstname"
                    [showErrorsWhen]="isSubmitted"
                    label="Prénom">
                </text-input>                
                <text-input
                    [control]="fc.userEmail"
                    [showErrorsWhen]="isSubmitted"
                    label="Email">
                </text-input>
                <!-- <text-input
                    [control]="fc.userAdresse"
                    [showErrorsWhen]="isSubmitted"
                    label="Adresse">
                </text-input> -->
                <text-input
                    [control]="fc.userPhone"
                    [showErrorsWhen]="isSubmitted"
                    label="Téléphone">
                </text-input>
                <text-input
                    [control]="fc.userPassword"
                    [showErrorsWhen]="isSubmitted"
                    label="Mot de passe"
                    type='password'>
                </text-input> 
                
            <div class="seller" *ngIf="showSellerForm()">
                <text-input
                    [control]="fc.userManager"
                    [showErrorsWhen]="isSubmitted"
                    label="Manager">
                </text-input>
                <text-input
                    [control]="fc.userStatut"
                    [showErrorsWhen]="isSubmitted"
                    label="Statut">
                </text-input>
                <text-input
                    [control]="fc.userNif"
                    [showErrorsWhen]="isSubmitted"
                    label="NIF">
                </text-input>
                <text-input
                    [control]="fc.userRC"
                    [showErrorsWhen]="isSubmitted"
                    label="RC">
                </text-input>
                <!-- <app-textarea
                    [control]="fc.userDescritpion"
                    [showErrorsWhen]="isSubmitted"
                    label="Descritpion">
                </app-textarea> -->
            </div>
        </div>
            <div class="buttonContainer">
                <!-- <app-default-button text="S'INSCRIRE" type="submit" (onClick)="sendEmail($event)"></app-default-button> -->
                <app-default-button text="S'INSCRIRE" type="submit" ></app-default-button>
                <!-- <app-default-button text="SE CONNECTER" routerLink="/login" type="button"></app-default-button> -->
                 <a routerLink="/login"><p style="text-align: center;">J'ai déjà un compte</p></a>
            </div>
        </form>
    </div>
</div>