<div class="container">
    <app-header></app-header>
    <div class="inner-container">
        <h3>Inscritpion</h3>
        <input type="file" class="file-input" (change)="onFileSelected($event)" #pdpUpload>
        <input type="file" class="file-input" (change)="onFileSelected($event)" #logoUpload>
        <div class="options">
            <div class="file-upload">
                {{ fileName || "Photo de profil"}}
                <button class="upload-btn" (click)="pdpUpload.click()"><mat-icon >attach_file</mat-icon></button>
            </div>
            <mat-checkbox
                [checked]="showSellerForm()"
                (change)="toggleSellerForm()">
                Entreprise
            </mat-checkbox>
        </div>
        <form class="register-form-style" [formGroup]="registerForm"  (ngSubmit)="submit()">
            <div class="client-register">
            <text-input
            [control]="fc.userName"
            [showErrorsWhen]="isSubmitted"
            label="Nom">
            </text-input>
            <text-input
            [control]="fc.userFirstname"
            [showErrorsWhen]="isSubmitted"
            label="Prénom">
            </text-input>
            <text-input
            [control]="fc.userEmail"
            [showErrorsWhen]="isSubmitted"
            label="Email">
            </text-input>
            <text-input
            [control]="fc.userPhone"
            [showErrorsWhen]="isSubmitted"
            label="Téléphone">
            </text-input>
            
            <!-- <text-input
            [control]="fc.userGender"
            [showErrorsWhen]="isSubmitted"
            label="Gender">
            </text-input> -->
            <div>
                <label>Genre: </label>
                <mat-radio-group [formControl]="userGender">
                  <mat-radio-button value="homme">Monsieur</mat-radio-button>
                  <mat-radio-button value="femme">Madame</mat-radio-button>
                </mat-radio-group>
              </div>
            <!-- <text-input
            [control]="fc.userDateOfBirth"
            [showErrorsWhen]="isSubmitted"
            label="Date de naissance">
            </text-input> -->
            <mat-form-field appearance="outline" >
                <mat-label>Date de naissance</mat-label>
                <input matInput [matDatepicker]="picker" [formControl]="dateOfBirth">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle [for]="picker" style="position: absolute;margin-top:-8px;margin-left: -10px;"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            <!-- <text-input
            [control]="fc.identityDocumentType"
            [showErrorsWhen]="isSubmitted"
            label="Type de document">
            </text-input> -->
            <mat-form-field appearance="outline">
                <mat-select required [(value)]="identityDocumentType.value">
                  <mat-option value="CIN">Carte d'identité</mat-option>
                  <mat-option value="Permis">Permis de conduire</mat-option>
                  <mat-option value="Passeport">Passeport</mat-option>
                </mat-select>
                <mat-label><em> Document d'identification</em></mat-label>
              </mat-form-field>
            <text-input
            [control]="fc.identityCardNumber"
            [showErrorsWhen]="isSubmitted"
            label="Numero Document">
            </text-input>
            <text-input
            [control]="fc.userAddress"
            [showErrorsWhen]="isSubmitted"
            label="Address">
            </text-input> 
            <text-input
            [control]="fc.userPassword"
            [showErrorsWhen]="isSubmitted"
            label="Mot de passe">
            </text-input> 
            </div>
            <div class="seller" *ngIf="showSellerForm()">
                <!-- <text-input
                [control]="fc.userLogo"
                [showErrorsWhen]="isSubmitted"
                label="Logo">
                </text-input> -->
                <div class="file-upload seller-file">
                    {{ fileName || "Votre logo ?"}}
                    <button class="upload-btn" (click)="logoUpload.click()"><mat-icon >attach_file</mat-icon></button>
                </div>
                <text-input
                [control]="fc.userManager"
                [showErrorsWhen]="isSubmitted"
                label="Manager">
                </text-input>
                <text-input
                [control]="fc.userStatut"
                [showErrorsWhen]="isSubmitted"
                label="Statut">
                </text-input>
                <text-input
                [control]="fc.userNif"
                [showErrorsWhen]="isSubmitted"
                label="NIF">
                </text-input>
                <text-input
                [control]="fc.userRC"
                [showErrorsWhen]="isSubmitted"
                label="RC">
                </text-input>
                <text-input
            [control]="fc.userDescritpion"
            [showErrorsWhen]="isSubmitted"
            label="Descritpion">
            </text-input>
            </div>
            <div class="buttonContainer">
                <app-default-button text="S'INSCRIRE" type="submit"></app-default-button>
                <app-default-button text="SE CONNECTER" routerLink="/login" type="button"></app-default-button>
            </div>
        </form>
    </div>
</div>