<div class="container">
    <div class="details">
        <h3>Nouveau mot de passe</h3>
        <form [formGroup]="resetPasswordFrom" (ngSubmit)="submit()">
            <text-input
            [control]="fc['Nouveau mot de passe']"
            [showErrorsWhen]="isSubmitted"
            label="Mot de passe">
            </text-input>
            <!-- <div style="display: flex;justify-content: center;"><a routerlink="" style="margin: auto;">Mot de passe oublié?</a></div> -->
            <div class="buttonContainer">
                <app-default-button text="Valider" type="submit"></app-default-button>
                <!-- <app-default-button text="Register" routerLink="/register" type="button"></app-default-button> -->
            </div>
        </form>
    </div>
</div>