<div class="container">
    
    @if(link){
        <button
            [disabled]="disabled"
            [ngStyle]="{color: color,
            'background-color':bgColor,
            'font-size.rem':fontSizeRem,
            'width.rem':widthRem
            }"
            [routerLink]="link"
            [type]="type">
                {{text}}
        </button>
    }@else {
        <button
            [disabled]="disabled"
            [ngStyle]="{color: color,
            'background-color':bgColor,
            'font-size.rem':fontSizeRem,
            'width.rem':widthRem
            }"
            [type]="type"
            (click)="onClick.emit()">
            {{text}}
        </button>
        }
</div>