<div class="side-bar">
    <ul>
        <li><div class="logo"><img src="newlogo.png" alt="Logo etokisana"></div></li>
        <li style="display: flex;"><h3 style="margin: 0;">{{ user.userFirstname }}</h3><button (click)="logout()" style="background: none;"><mat-icon>input</mat-icon></button></li>
        <li><a routerLink="/transactions"><h4>{{adminBalance}}</h4></a></li>
        <li><a routerLink="/users" routerLinkActive="active"><mat-icon>account_circle</mat-icon>Users</a></li>
        <li><a routerLink="/products" routerLinkActive="active"><mat-icon>important_devices</mat-icon>Produits</a></li>
        <li><a routerLink="/categories" routerLinkActive="active"><mat-icon>list</mat-icon>Catégories</a></li>
        <li><a routerLink="/transactions" routerLinkActive="active"><mat-icon>cached</mat-icon>Transactions</a></li>
        <!-- <a onclick="logout()"><li>Déconnexion</li></a> -->
    </ul>
</div>
