/* .mat-mdc-form-field{
    font-size: 0.8rem;
    min-height: 10px;
    padding:0px;
}
.mat-mdc-form-field mat-label{
    font-size: .75rem;
}
.mat-mdc-form-field-infix{
    height: 10px;
    min-height: 10px;
    padding:0px;
}
.mdc-text-field--outlined{
    padding: 0;
} */