input-validation{
    display: flex;
    justify-content: center;
    align-items:center ;
    top:0;
    right: 1rem;
    width: 12rem;
}
/* .mat-mdc-form-field{
    font-size: 0.8rem;
    min-height: 10px;
    padding:0px;
}
.mat-mdc-form-field mat-label{
    font-size: .75rem;
}
.mat-mdc-form-field-infix{
    height: 10px;
    min-height: 10px;
    padding:0px;
}
.mdc-text-field--outlined{
    padding: 0;
} */