<app-header></app-header>
<div class="container">
    <div class="details">
        <h3>Authentification</h3>
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <text-input
            [control]="fc.email"
            [showErrorsWhen]="isSubmitted"
            label="Email">
            </text-input>
            <app-password-input
            [control]="fc.password"
            [showErrorsWhen]="isSubmitted"
            label="Mot de passe">
            </app-password-input>
            <a routerLink="/request-reset-password"><p>Mot de passe oublié?</p></a>
            
            <!-- <div style="display: flex;justify-content: center;"><a href="/forgot-password" style="margin: auto;">Mot de passe oublié?</a></div> -->
            <div class="buttonContainer">
                <app-default-button text="Se connecter" type="submit"></app-default-button>
                <a routerLink="/register">S'inscrire</a> 
                <!-- <app-default-button text="Register" routerLink="/register" type="button"></app-default-button> -->
            </div>
        </form>
    </div>
</div>