<app-header></app-header>
<div class="container">
    <div class="main-content">
        <div class="border-title">
            <div class="title-border"> Profile</div>
            <!-- <a routerLink="/client-area"><button>Retour</button></a> -->
            <div class="profile-entete">
                <div class="image-profile-container">
                    <ngx-avatars [src]="profileImage" size="100"></ngx-avatars>
                    <!-- <img [src]="profileImage" alt=""> -->
                </div>
                <div class="client-name">
                    @if (user) {
                        <h3>ID : {{user.userId}} </h3>
                        <h1>Bonjour {{ user.userNickName }} </h1>
                        <h3>Solde : {{user.userTotalSolde}} </h3>
                    }
                </div>  
            </div>
            @if (user && user.userType == 'Entreprise') {
                <form class="register-form-style" [formGroup]="corporateForm"  (ngSubmit)="submit()">
                    <div  class="body-content">
                        <app-profile-item label="Email" value="{{user.userEmail}}" placeholder="Email"></app-profile-item>
                        <app-profile-item label="Téléphone" value="{{user.userPhone}}" placeholder="userPhone"></app-profile-item>
                        <app-profile-item label="Adresse" value="{{user.userAddress}}" placeholder="{{user.userAddress}}"></app-profile-item>
                        <app-profile-item label="Manager" value="{{user.managerName}}" placeholder="{{user.managerName}}"></app-profile-item>
                        <app-profile-item label="Email du manager" value="{{user.managerEmail}}" placeholder="{{user.managerEmail}}"></app-profile-item>
                        <app-profile-item label="Statut" value="{{user.type}}" placeholder="{{user.type}}"></app-profile-item>
                        <app-profile-item label="NIF" value="{{user.nif}}" placeholder="{{user.nif}}"></app-profile-item>
                        <app-profile-item label="RC" value="{{user.rcs}}" placeholder="{{user.rcs}}"></app-profile-item>
                        <!-- <app-profile-item label="Carte Fiscale" value=""></app-profile-item> -->
                    </div>
                </form>
            }
            @if(user && user.userType == 'Particulier') {
                <form class="register-form-style" [formGroup]="userForm"  (ngSubmit)="submit()">
                    <div class="body-content">
                        <app-profile-item label="Nom" value="{{user.userName}}" placeholder="{{user.userName}}" ></app-profile-item>
                        <app-profile-item label="Prénoms" value="{{user.userFirstname}}" placeholder="{{user.userFirstname}}"></app-profile-item>
                        <app-profile-item label="Email" value="{{user.userEmail}}" placeholder="{{user.userEmail}}"></app-profile-item>
                        <app-profile-item label="Téléphone" value="{{user.userPhone}}" placeholder="{{user.userPhone}}"></app-profile-item>
                        <app-profile-item label="Adresse" value="{{user.userAddress}}" placeholder="{{user.userAddress}}"></app-profile-item>
                    </div>
                </form>
            }
        </div>
    </div>
</div>
