<app-header></app-header>
<div class="container">
    <div class="inner-container">
        <h3>Faire un dépôt</h3>
        
        <form class="register-form-style" [formGroup]="addFundForm"  (ngSubmit)="submit()">
            <div class="client-register">
            <text-input
            [control]="fc.libelle"
            [showErrorsWhen]="isSubmitted"
            label="Libellé">
        </text-input>
        <text-input
        [control]="fc.codeProduit"
        [showErrorsWhen]="isSubmitted"
        label="Code produit">
        </text-input>
            <text-input
            [control]="fc.destinataire"
            [showErrorsWhen]="isSubmitted"
            label="Destinataire">
            </text-input>
            <text-input
            [control]="fc.valeur"
            [showErrorsWhen]="isSubmitted"
            label="Valeur">
            </text-input>
            </div>
            <div class="buttonContainer">
                <app-default-button text="Valider" routerLink="/user-products" type="submit"></app-default-button>
                <app-default-button text="Annuler" routerLink="/user-products" type="button"></app-default-button>
            </div>
        </form>        
    </div>
</div>
