<app-header></app-header>
<div class="container">

    <h4>Mes sites</h4>
        <ul>
            <li *ngFor="let site of sites">{{site.siteName}} -  {{site.siteAddress}} - {{ site.siteLat}} - {{ site.siteLng}}
                <button (click)="setDataToModify(site._id)"> <mat-icon>brush</mat-icon></button>
                <!-- <a routerLink="update/{{site._id}}"><button> <mat-icon>brush</mat-icon></button></a> -->
                <button (click)="deleteSite(site._id)"> <mat-icon>delete</mat-icon></button>

            </li>
        </ul>
    <h4>Ajouter un site</h4>
    <form class="register-form-style" [formGroup]="addSiteForm"  (ngSubmit)="submit()">
        <div class="client-register">
        <text-input
        [control]="fc.siteName"
        [showErrorsWhen]="isSubmitted"
        label="Nom du Site">
        </text-input>
        <text-input
        [control]="fc.siteAddress"
        [showErrorsWhen]="isSubmitted"
        label="Adresse">
        </text-input>
        <div class="map-container">
            <div id="map"></div>
        </div>
        <!-- <google-map height="50vh"
                width="100%"
                [center]="center"
                [zoom]="6"
                (mapClick)="moveMap($event)"
                (mapMousemove)="move($event)" >
            <map-marker *ngFor="let position of markerLatLong" [position]="position"></map-marker>
        </google-map> -->
        <!-- <text-input
            [control]="fc.SiteUnite"
            [showErrorsWhen]="isSubmitted"
            label="Longitude">
        </text-input> 
        <text-input
        [control]="fc.SiteStock"
        [showErrorsWhen]="isSubmitted"
        label="Latitude">
        </text-input> -->
        
        
        
        <!-- <input type="text" value="{{latitude}}">
        <input type="text" value="{{longitude}}"> -->
        </div>
        <div class="buttonContainer">
            <app-default-button text="Annuler" routerLink="/user-Sites" type="button"></app-default-button>
            <app-default-button text="Valider" type="submit"></app-default-button>
        </div>
    </form>     
    
</div>