.container{
    padding:20px
}
.client-register{
    max-width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.form-line{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.userSite-form-style{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
    /* margin: auto 10%; */
}
.row{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    /* align-content: center; */
    flex-wrap: wrap;
    flex-direction: row; 
}
app-button-default{
    width: 100%;
}
.buttonContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.border-title{
    display: flex;
    flex-direction: row;
}
google-map{
    width: 100%;
}
button{
    width: 100%;
}
text-input{
    width:100%;
}