<header>
    <div class="container">
        <div class="header-top">
            <!-- <div class="logo"><a routerLink="/"><img src="newlogo.png" alt="Logo etokisana"></a></div> -->
            <!-- <div class="search-bar"> Recherche</div> -->
             <!-- <app-search></app-search> -->
            <nav class="right-nav" *ngIf="!isLoged">
                <ul>
                    <li><a routerLink="/register" class="register-btn">S'inscrire</a></li>
                    <li><a routerLink="/login" class="login-btn">Se Connecter</a></li>
                </ul>
            </nav>
            <nav class="right-nav" *ngIf="isLoged">
                <ul>
                    <!-- <li><a routerLink="/cart-page"><mat-icon>shopping_cart</mat-icon></a></li> -->
                    <li><a routerLink="/client-area" class="profil-btn">{{user.userName}} {{user.userFirstname}} </a></li>
                    <li><a routerLink="/transactions" class="solde-btn"><strong>{{user.userTotalSolde}}</strong> MGA</a></li>
                    <li><a (click)="logOut()" class="logout-btn">Se déconnecter</a></li>
                </ul>
            </nav>
        </div>
    </div>
        <div class="header-menu">
            <ul>
                <li><a routerLink="/home" class="logo">Accueil</a></li>
                <!-- <li class="menu-container">
                    <a routerLink="/achat">Faire mes courses</a> -->
                    <!-- <div class="menu">
                        <a routerLink="facture-vente">Factures Vente</a>
                        <a routerLink="">CA par Famille</a>
                        <a routerLink="">CA par Article</a>
                    </div> -->
                <!-- </li> -->
                <!-- <li class="menu-container">
                    <a routerLink="/dashboard">Enchère</a>
                </li>
                <li class="menu-container">
                    <a routerLink="/dashboard">Appel d'offre</a> -->
                    <!-- <div class="menu">
                        <a routerLink="inventaires">Inventaire</a>
                        <a routerLink="bon-entrees">Bons d'entrées</a>
                        <a routerLink="bon-sorties">Bons de sorties</a>
                        <a routerLink="mouvement-stock">Mouvement stock</a>
                        <a routerLink="etat-stock">Etats de stock</a>
                    </div> -->
                <!-- </li> -->
                <!-- <li class="menu-container">
                    <a routerLink="/dashboard">Transporteur</a>
                    <div class="menu">
                        <a routerLink="article">Locales</a>
                        <a routerLink="">Internationales</a>
                    </div>
                </li> -->
                <!-- <li class="menu-container"> <a routerLink="print">print</a></li> -->
                <li>
                    <a routerLink="/contact">contact</a>
                </li>
                <!-- <li *ngIf="!isLoged"><a href="home" routerLink="/home" class="logo">Mes informations</a></li>
                <li *ngIf="!isLoged"><a href="home" routerLink="/home" class="logo">Mes tâches</a></li> -->
            </ul>
        </div>
    <!-- </div> -->
</header>
