img{
    width: 100%;
}
.content-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
h1{
    color: rgb(0, 174, 255);
    font-size: 3.5rem;
    margin: 5rem auto;
}
.slider{
    /* background: url('/SplashscreenEtokisana.jpg') no-repeat; */
    background-size: cover;
    background-position: center;
    height: 70vh;
}