<div class="container">
    <app-header></app-header>
    <div class="main-content">
        <!-- <app-client-area-items title="Address" imageUrl=""></app-client-area-items> -->
        <app-client-area-items title="Mon compte" imageUrl="clientArea/bloc2.svg" link=""></app-client-area-items>
        <app-client-area-items title="Mes demandes" imageUrl="clientArea/bloc3.svg" link=""></app-client-area-items>
        <app-client-area-items title="Mes offres" imageUrl="clientArea/bloc3.svg" link=""></app-client-area-items>
        <app-client-area-items title="Mes produits" imageUrl="clientArea/bloc4.svg" link=""></app-client-area-items>
        <app-client-area-items title="Mes transactions" imageUrl="clientArea/bloc5.svg" link=""></app-client-area-items>
        <app-client-area-items title="Mes sites" imageUrl="clientArea/bloc1.svg" link=""></app-client-area-items>
    </div>
</div>
